/*HOME.HTML*/

*{
	margin: 0px;
	padding: 0px;
	justify-content: center;
	
	
}
body{
	margin: 0px;
	padding: 0px;
	background-image: url(b.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}
 a{
	text-shadow: 5px 5px 6px red;
    font-size: 30px;
    padding: 20px;
    box-shadow: 15px 5px 14px green;
}

.name{
	font-size: 70px;
	

}



nav{
	height: 70px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0px;
	width: 750px;



}

nav a{
	font-size: 25px;
}     



.web{
text-align: center;
	color: red;
    font-size: 40px;
    margin-top: 15%;
    margin-left: 255px;

}
header{
	
    background-size: cover;
    
}
 a:hover{
	background-color: white;
	color: black;
}
.Nabin{ float: right;
	margin: 20px;
	font-size: 30px;
	display: none;

}

*@media(max-width: 900px )

{
 a{
		display: flex;
		flex-direction: row;
} 

.Nabin{
	display: block;}}





/*Portfolio*/

.item{
     background-color: grey;
     width: 100%;
	 padding: 10px;
	 margin: 40px;
	 height: 1500px;



}

.img{
	margin-left: 40px;
	margin-top: 20px;
	width: 60%;



}
.box{
	display: flex;
	flex-direction: row;
	margin: 10px;
	width: 40%;
	float: left;
	border: 2px solid red;
	height: 30%;
	background-image: url(e.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.box p{
	color: white;
	font-size: 20px;

}


/*CONTACT*/

h3{
	text-align: center;
	color: red;
	margin-top: 10%;
	font-size: 50px;
}
.monn a{
	line-height: 100%;
}

form{
    font-size: 30px;
    text-align: center;

}
@media (max-width: 1000px) {
	


	.flex{
		margin-top: 20px;
		width: 750px;
	}
	.item {
    width: 720px;
    padding: 10px;
    margin: 40px;
    height: 630px;
}

	.monn{
	margin-top: 50px;
	}
}

.form text{ 
	display: block;
	background: black;
	padding: 10px 20px;
}

.khatri h1{
	text-align: center;
	color: red;
       
}
 
.khatri p{
	text-align: center;
	color: blue;
	font-size: 25px;
	text-decoration: underline;

}
.item{
	padding: 10px;
	margin: 40px;
}


/*cv*/


.flex{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}
.flex-1{
	background-color: lightgrey;
	height: 200px;
	width: 100%;
}
.flex-2{
	background-color: orange;
	height: 700px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.photo{
	height: 200px;
	margin: 20px;
	width: 200px;
	background-image: url(nabin.jpg);
	background-size: cover;
	margin-top: -70px;
	
}
.heart{
	background-color: #bbb6ab;
	height: 700px;
	width: 30%;

}
.messi{
	background-color: #331a37f2;
	height: 700px;
	width: 70%;
	color: white;
}
.belgium{
	margin-top: 40px;
}
.umm{
	font-size: 20px;
}
.Nepal-1 {
	margin-left: 43%;
	font-size: 45px;
	text-decoration: underline;
	margin-top: 20px;
}
.hello{
	text-align: center;
	
}

/*Site report*/

.grid-1{
	display:grid;
	padding:50px;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	font-size: 10px;
	

}
.grid-1 .nepal1 img{
	background-size: cover;
	width: 90%;
	height: 400px;	
}

.grid-1 div {
	font-size: 10px;
	padding:50px 0;
	text-align: center;
}

.grid-2{
	display: grid;
	padding: 50px;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	font-size: 10px;
}
.grid-2 .nepal2 img{
	background-size: cover;
	width: 90%;
	height:400px;
}
.grid-2 div{
	font-size: 10px;
	padding: 50px 0;
	text-align: center;

}
.grid-3{
	display:grid;
	padding:50px;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	font-size: 10px;
	

}
.grid-3 .nepal3 img{
	background-size: cover;
	width: 90%;
	height: 400px;	
}

.grid-3 div {
	font-size: 10px;
	padding:50px 0;
	text-align: center;
}
.grid-4{
	display: grid;
	padding: 50px;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	font-size: 10px;
}
.grid-4 .nepal4 img{
	background-size: cover;
	width: 90%;
	height:400px;
}
.grid-4 div{
	font-size: 10px;
	padding: 50px 0;
	text-align: center;

}
